@layer theme, base, components, utilities;

@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/utilities.css" layer(utilities);

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: white;
  background-color: black;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  text-decoration: inherit;
}

body {
  place-items: start;
  min-width: 320px;
  min-height: 100vh;
  margin: 0 auto;
}

button {
    border: none;
}

h3 {
  line-height: 1.1;
  text-align: left;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

h2 {
    text-align: left;
    float: left;
    padding-right: 20px;
    flex: 1
}

p {
    text-align: left;
}

footer {
    padding-left: 5px;
    padding-right: 5px;
    height: 40px;
}

.profile-photo {
    width: 20rem;
    height: 18rem;
    float: left;
    margin: 5px;
}

.heading-icon {
    padding-right: 5px;
    vertical-align: text-bottom;
    color: #646cff;
}

.experience {
    h4, h5 {
        margin: 0;
    }
}
.copyright {
    max-width: 20%;
    text-align: left;
    margin: 5px;
}

.socials {
    text-align: right;
    margin: 5px;
    position: relative;
    bottom: 24px;
    right: 5%;
    scale: 110%;
}

.nav-bar {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    flex: 1;
    a {
        font-weight: 600;
        font-size: 18px;
        text-align: right;
        float: right;
    }
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    /*color: #747bff;*/
  }
  button {
    background-color: #f9f9f9;
  }
}
