:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(231, 235, 250, 0.87);
  background-color: #171326;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #888888;
  text-decoration: inherit;
}
a:hover {
  color: #88999999;
}

body {
  margin: 0;
  display: flex;
  place-items: start;
  min-width: 320px;
  min-height: 100vh;
}

h2 {
  font-size: 2.5em;
  line-height: 1.1;
  text-align: left;
}

p {
    text-align: left;
}

footer {
    padding-left: 5px;
    padding-right: 5px;
    border-width: thin;
    border-style: solid;
    border-color: #30245e;
    border-radius: 5px;
    height: 40px;
}

.profile-photo {
    width: 339px;
    height: 310px;
}

.heading-icon {
    padding-right: 5px;
    vertical-align: top;
    color: #646cff;
}

.profile {
  max-width: 50%;
}

.copyright {
    max-width: 20%;
    text-align: left;
    margin: 5px;
}

.socials {
    text-align: right;
    margin: 5px;
    position: relative;
    bottom: 24px;
    right: 5%;
    scale: 110%;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    /*color: #747bff;*/
  }
  button {
    background-color: #f9f9f9;
  }
}
